LAMBDA_EXECUTION_ROLE_ARN=

# These cannot be named AWS_ ... which are reserved names for Lambda. Prefix
# them, e.g. with your app name. Alternatively, you might be able to give
# the correct permissions to the Lambda exeuction role, but I've had trouble
# getting this approach to work. This IAM user will need full access to
# dynamoDB as well as the "arn:aws:iam::aws:policy/AmazonESCognitoAccess" policy.
OAUTHAPI_AWS_ACCESS_KEY_ID=
OAUTHAPI_AWS_SECRET_ACCESS_KEY=
OAUTHAPI_AWS_REGION=

# You'll need to do an initial serverless deploy to create the pool first if
# you don't already have one. There is probably a way just to reference this
# resource ID in the serverless.yml in order to avoid the bootstrap deployment,
# but I'm not yet sure how to do that. While you are in the Cognito console,
# you will also want to create an application client for this pool.
OAUTHAPI_COGNITO_USER_POOL=
